.weatherLocationCont {
	margin: 20px;
	-min-width: 378px;	
}

.weatherLocationCard {
	cursor: pointer;
}

.locationCont {
	width: 100%;
	height: 40px;
	text-align: left;
	padding-left: 10px;
	color: #888;
}